@media screen and (max-width:1300px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .nav-left {
        flex-direction: column;
        text-align: center;
    }
    .content-right {
        display: none;
    }
    .home-article {
        flex-direction: column;
    }
    .home-article-image {
        text-align: center;
    }
    .year-box {
        right: 0px;
        height: 51px;
        width: 111px;
        margin-top: 0px;
        font-size: 10px;
        display: flex;
    }
    .year-box div {
        margin: 0px;
        padding: 0px 3px;
    }
    /* conatct page*/
    .contact-content h1 {
        font-size: 24px;
    }
    .row {
        flex-direction: column;
    }
    .social {
        padding: 0px;
    }
    .post-img {
        height: auto;
    }
    .adjust-year {
        padding: 12px 0px;
        position: static;
        display: flex;
        width: 100%;
        height: auto;
        justify-content: flex-end;
    }
}